.palette{

}
.bottom {
    position: absolute; /*or fixed*/
    right: 100px;
    top: 2000px;
}

.top {
    position: absolute; /*or fixed*/
    right: 100px;
}

.row {
    display: inline-table;
    width: 140px;
    height: min-content;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-color: none;
  }