.schedule {
  position: fixed;
}

.row {
  display: flex;
  height: 70px;
  width: min-content;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #888;
}

.row > p {
  font-size: smaller;
  align-self: flex-end;
  margin: 2px;
  color: #888;
  width: 50px;
}

.cell {
  min-width: 120px;
  padding: 10px;
  padding-top: 14px;
  box-sizing: border-box;
}
