.container {
  padding: 5px;
}

.panelsContainer {
  display: table;
  border-spacing: 10px;
}
.scheduleContainer {
  display: table-cell;
  width: fit-content;
}

.paletteContainer {
  display: table-cell;
  width: auto;
}
